---
---

a {
    color: #000;

    &:hover,
    &:visited,
    &:link,
    &:active {
        color: #c75a5a;
    }
}

img {
    width: 100%;
    height: auto;
    margin: 5px 0;
}

img[src~="bordered"] {
    border: solid black 3px;
    border-bottom: solid black 6px;
    border-top: solid black 6px;
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .extras {
        position: relative;
    }

    .post--list {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 70vh;
        align-items: center;

        .post {
            display: flex;
            flex-direction: column;
            max-width: 50em;
            line-height: 1.5;
            width: 70%;
            padding-bottom: 3rem;
            padding-top: 3rem;

            .post--img {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 15rem;
                background-position: center;
                background-size: cover;
                justify-content: flex-end;
                cursor: pointer;
            }

            .post--info {
                padding: 1rem 0;

                a {
                    color: #000;
                    text-transform: capitalize;
                    font-size: 22px;
                    padding-bottom: 0.5em;

                    &:hover,
                    &:visited,
                    &:link,
                    &:active {
                        text-decoration: none;
                    }
                }

                .meta {
                    color: #6f6f6f;
                    font-size: 14px;
                }

                .excerpt {
                    color: #6f6f6f;
                }
            }
        }
    }

    .pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        >* {
            padding: 0px 5px;
        }
    }
}

.blog-gallery-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    align-items: center;

    .blog-gallery-display-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .blog-gallery-item {
            display: flex;
            float: left;
            position: relative;
            width: calc(100%/3 - 3px*3);
            padding-bottom: calc(100%/3 - 3px*3);
            margin: 3px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .blog-gallery-display-title {
        color: grey;
        font-size: 13px;
    }
}

.blog-footer-divider {
    width: 33%;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.blog-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;

    span {
        padding: 10px;
    }
}

.blog-post {
    display: flex;
    flex-direction: column;

    .blog-post--header {
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        background-size: cover;

        .blog-post--header-inner {
            background: rgba(65, 80, 92, 0.6);
        }

        .overlay--navbar {
            display: flex;
            flex-direction: row;
            padding: 0.7rem;

            .overlay--navbar-item {
                display: flex;
                width: 33%;

                a {
                    color: white;
                }
            }

        }

        .blog-post--header-overlay-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            height: 40rem;
            width: 100%;

            .overlay-no-italic {
                font-style: normal !important;
            }

            .overlay {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 100%;

                font-family: Lora, serif;
                font-size: 2em;
                font-weight: 300;
                font-style: italic;

                .header-overlay--title {
                    padding-bottom: 1em;
                }

                .header-overlay--body {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    font-size: 0.8rem;
                    font-style: normal;

                    .header-overlay--left {
                        display: flex;
                        flex-direction: column;
                        width: 25%;
                    }

                    .header-overlay--right {
                        display: flex;
                        flex-direction: column;
                        max-width: 75%;
                        width: 25rem;
                    }
                }
            }
        }
    }

    .blog-post--header-img-source {
        display: flex;
        color: grey;
        font-size: 13px;
        justify-content: center;
    }

    .blog-post--body {
        display: flex;
        width: 100%;
        justify-content: center;
        min-height: 100vh;

        .blog-post--body-inner {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            line-height: 1.5;
            font-size: 18px;
            width: 36em;
            padding-top: 3rem;
            padding-bottom: 3rem;

            // p:first-of-type {
            //     &::first-letter {
            //         line-height: 0.6em;
            //         float: left;
            //         font-size: 3em;
            //         font-weight: bold;
            //         color: #000;
            //         margin-right: 10px;
            //         margin-top: 8px;
            //     }
            // }
        }
    }
}

@media screen and (max-width:400px) {
    .blog {
        .post--list {
            padding: 0 !important;

            .post {
                width: 100%;
                align-items: flex-start;

                .post--info {
                    padding: 1rem;
                }
            }
        }
    }

    .blog-post {
        .blog-post--header {
            .blog-post--header-inner {
                height: 10em;
            }

            .overlay--navbar {
                display: flex;
                flex-direction: row;
                padding: 0.7rem;

                .overlay--navbar-item {
                    display: flex;
                    width: 33%;

                    a {
                        color: white;
                    }
                }

            }

            .blog-post--header-overlay-container {
                height: 100%;
                width: 100%;

                .overlay {
                    width: auto;

                    .header-overlay--title {
                        padding-bottom: 0;
                    }

                    .header-overlay--body {
                        .header-overlay--left {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }

                        .header-overlay--right {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }

        .blog-post--header-img-source {
            display: flex;
            color: grey;
            font-size: 13px;
            justify-content: center;
        }

        .blog-post--body {
            display: flex;
            width: 100%;
            justify-content: center;

            .blog-post--body-inner {
                padding: 3em 1em;
                font-size: 16px;
            }
        }
    }

    .blog-gallery-display {
        .blog-gallery-display-inner {
            .blog-gallery-item {
                width: calc(100%/2 - 2px*3);
                padding-bottom: calc(100%/2 - 3px*2);
            }
        }
    }
}

@media screen and (max-width:800px) {
    .blog {

        .extras {
            position: relative;
            height: 10em;
        }

        .post--list {
            padding: 0 !important;

            .post {
                width: 100%;
                align-items: flex-start;

                .post--info {
                    padding: 1rem;
                }
            }
        }
    }

    .blog-post {

        .blog-post--header {

            .blog-post--header-inner {
                height: 10em;
            }

            .overlay--navbar {
                display: flex;
                flex-direction: row;
                padding: 0.7rem;

                .overlay--navbar-item {
                    display: flex;
                    width: 33%;

                    a {
                        color: white;
                    }
                }

            }

            .blog-post--header-overlay-container {
                height: 100%;
                width: 100%;

                .overlay {
                    width: auto;

                    .header-overlay--title {
                        padding-bottom: 0;
                    }

                    .header-overlay--body {
                        .header-overlay--left {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }

                        .header-overlay--right {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }

        .blog-post--header-img-source {
            display: flex;
            color: grey;
            font-size: 13px;
            justify-content: center;
        }

        .blog-post--body {
            display: flex;
            width: 100%;
            justify-content: center;

            .blog-post--body-inner {
                padding: 3em 1em;
                font-size: 16px;
            }
        }
    }

    .blog-gallery-display {
        .blog-gallery-display-inner {
            .blog-gallery-item {
                width: calc(100%/2 - 2px*3);
                padding-bottom: calc(100%/2 - 3px*2);
            }
        }
    }
}
