.Collections,
.Posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.Collection,
.Post-teaser {
  width: 33.33%;
  height: 250px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.Collection .contents,
.Post-teaser .contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  opacity: 0;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
}

.Collection:hover .contents,
.Post-teaser:hover .contents {
  opacity: 1;
}

.Collection .contents a,
.Post-teaser .contents a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7rem;
  letter-spacing: 1px;
  border: 2px solid rgba(255, 255, 255, .25);
  padding: 10px 25px;
}

.Collection .contents a:hover,
.Post-teaser .contents a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

footer {
  font-family: "Roboto";
  padding: 50px 25px;
  font-size: .75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.Images {
  margin: 0 100px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-column-rule-width: 0;
     -moz-column-rule-width: 0;
          column-rule-width: 0;
}

.Image {
  display: inline-block;
  margin-bottom: 25px;
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Image:hover .Image-overlay {
  opacity: 1;
}

.Image-overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .45);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

.Image-overlay::after {
  display: block;
  content: '+';
  color: rgba(255, 255, 255, .95);
  text-shadow: 0 1px 2px black;
}

.Image img {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  background: #111;
}

.Image:hover {
  opacity: 1 !important;
}

.Logo {
  color: #646363;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Logo .name {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}

.Logo .text {
  display: block;
  text-transform: uppercase;
  font-size: .55rem;
  letter-spacing: 8.6px;
  opacity: .3;
}
* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  padding: 0;
  margin: 60px auto;
  background: #0000000;
  color: #444;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.ContentContainer{
	width: 70%;
	margin: auto;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

@media screen and (max-width: 960px) {
  .Images {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}

@media screen and (min-width: 1600px) {
  .Images {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}

@media screen and (min-width: 1800px) {
  .Images {
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
  }
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

a.HomeLink {
	color: inherit;
	text-decoration: none;
}
a.HomeLink:hover {
	
}

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }
