.Collections,
.Posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.Collection,
.Post-teaser {
  width: 33.33%;
  height: 250px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.CarCollection {
	width: 50%;
  height: 250px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.Collection .contents,
.Post-teaser .contents,
.CarCollection .contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  opacity: 0;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
}

.Collection:hover .contents,
.Post-teaser:hover .contents,
.CarCollection:hover .contents {
  opacity: 1;
}

.Collection .contents a,
.Post-teaser .contents a, 
.CarCollection .contents a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7rem;
  letter-spacing: 1px;
  border: 2px solid rgba(255, 255, 255, .25);
  padding: 10px 25px;
}

.Collection .contents a:hover,
.Post-teaser .contents a:hover,
.CarCollection .contents a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

footer {
  font-family: "Roboto";
  padding: 50px 25px;
  font-size: .75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.Nav{
	padding-right: 20px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	text-decoration: none;
    color: #f1f1f1;
}

.posts.post_meta {
	text-decoration: none;
    color: #999
	font-size: 20px;
}
.posts a {
	text-decoration: none; 
	color: black; 
}
.posts a:hover { 
	text-decoration: none; 
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

.closebtn:hover {
	text-decoration: none;
}

.Logo {
  color: #646363;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Logo .name {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}

.Logo .text {
  display: block;
  text-transform: uppercase;
  font-size: .55rem;
  letter-spacing: 8.6px;
  opacity: .3;
}
* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0px auto;	
  background: #fff;
  color: #444;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.ContentContainer{
	width: 60%;
	margin: auto;
}

img.fullwidth_cover{
	max-width: 100%;
    height: auto;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
      -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

@media screen and (max-width: 960px) {
  .Images {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}

@media screen and (min-width: 1600px) {
  .Images {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}

@media screen and (min-width: 1800px) {
  .Images {
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

a.HomeLink {
	color: inherit;
	text-decoration: none;
}
a.HomeLink:hover {
	
}

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }


.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}