---
layout: default
title: Blog of Sadiq Awosanmi
---
<div class="ContentContainer">
	<ul class="posts">
	  {% for post in site.posts %}
	    <li>
			<hr>
			{% if post.img %}
				<img src="/resources/{{ post.img }}" style="max-width: 100%; height: auto;"/>
			{% endif %}
			<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			<div class="post">
				{{ post.excerpt }}
			</div>
			<span class="post_meta">{{ post.date | date_to_string }}</span>
		</li>
	  {% endfor %}
	</ul>
</div>
