---
layout: default
title: Blog of Sadiq Awosanmi
---
<div class="ContentContainer">
	<ul class="posts">
	  {% for post in site.posts %}
	    <li>
			<hr>
			<div class="blog-post">
				{% if post.img %}
				<img src="/resources/{{ post.img }}" style="max-width: 100%; height: auto;"/>
				{% endif %}
				<div class="post">
					<a class="title" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
					<div class="excerpt-container">
						<div class="excerpt">
							{{ post.excerpt }}
						</div>
						<span class="post_meta">{{ post.date | date_to_string }}</span>
					</div>
				</div>
			</div>
		</li>
	  {% endfor %}
	</ul>
</div>
