---
layout: default
title: one day in june
description: where all my written ideas live on the internet
---

<div class="blog">
    <div class="extras">
        <a href="/" class="logo">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="title">
            <h2>{{ page.title }}</h2>
        </div>
    </div>
    <div class="post--list">
        {% for post in site.posts %}
        <div class="post">
            {% if post.img %}
            <div onclick="location.href='{{ post.url }}';" class="post--img" style="background-image:url('/resources/img/{{ post.img }}');">
            </div>
            {% endif %}
            <div class="post--info">
                <div style="display: flex; flex-direction: column;">
                    <span class="meta">{{ post.date | date: "%-d %B %Y" }}</span>
                    <a class="title" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                    <div class="excerpt">
                        {{ post.content | strip_html | truncatewords:45 }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr class="blog-footer-divider">
<div class="blog-footer">
    <p>subscribe <a href="/feed.xml">via RSS</a></p>
    <p>end of june. Sadiq Awosanmi</p>
</div>
<link rel="stylesheet" type="text/css" href="/css/blog.css">
