<!DOCTYPE HTML>
<html>
  <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>{{ page.title}}</title>
      <link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
      <link rel="stylesheet" type="text/css" href="/style/blogstyle.css">
  </head>

  <body>
    <header>
      <div class="Logo">
        <a class="homelink" href="/index.html">
			<span class="name">S.AWOSANMI</span>
			<span class="text">AN ADVENTURE IN SPACE</span>
        </a>
      </div>
    </header>

    {{ content }}

    <footer>
      &copy; Sadiq Awosanmi
    </footer>
  </body>
</html>
