---
layout: default
---
<div class="blog-post">

    <div class="blog-post--header" {% if page.img %} style="background-image:url('/resources/img/{{ page.img }}');" {% endif %}>
        <div class="blog-post--header-inner">
            <div class="overlay--navbar">
                <div class="overlay--navbar-item">
                    <a target="_blank"><i class="fa fa-bars"></i></a>
                </div>
                <div class="overlay--navbar-item" style="justify-content: center;">
                    <a target="_blank">-X-</i></a>
                </div>
                <div class="overlay--navbar-item" style="justify-content: flex-end;">
                    <a target="_blank"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="blog-post--header-overlay-container">
                <div class="overlay">
                    <span class="header-overlay--title">{{ page.title }}</span>
                    <div class="header-overlay--body">
                        <div class="header-overlay--left">
                            <span>Post No.{{ page.index }}</span>
                            <span>Date: {{ page.date | date: "%-d %B %Y" }}</span>
                            <span>Categories: {% for category in page.categories %} {{ category }} {% endfor %}</span>
                        </div>
                        <div class="header-overlay--right">
                            <span>Excerpt:</span>
                            {{ page.excerpt }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-post--body">
        <div class="blog-post--body-inner">
            {{ content }}
        </div>
    </div>
    <!-- <span>Tags: {{ page.tags }}</span> -->
</div>
